# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDE directories
.idea/
.vscode/

# Environment variables file
.env

# Distribution / packaging
build/
dist/
*.egg-info/